
Assignment 1/Xtrain.npy
All_beauty.csv
AMAZON_FASHION.csv
Arts_Crafts_and_Sewing.csv
Clothing_Shoes_and_Jewelry_5.csv
Grocery_and_Gourmet_Food_5.csv
Luxury_Beauty_5.csv
Sports_and_Outdoors_5.csv
exam/data/.Rhistory

